:root {
  --yellow: #FFB031;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

.call-to-action-btn {
  width: 10rem;
  border: none;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: .1rem;
  position: absolute;
  left: 30rem;
  top: 20rem;
  z-index: 1;
}

.cart-icon {
  margin-left: 2rem;
  margin-right: 1rem;
}

.address {
  margin-right: 1.7rem;
}

.footer-bg {
  background-color: #f8f9fa;
}
